
<li class="media my-2">
    <img src=<%= user.avatar %> class="mr-3 rounded-circle" style="width: 6rem" >
    <div class="media-body">
      <h5 class="mt-0 mb-1"><%= link_to user.name, user %></h5>
      <h6>Email:  <%= user.email %> </h6>
      <p>Created at: <%= time_ago_in_words(user.created_at) %> ago.</p>
      <p>Updated at: <%= time_ago_in_words(user.updated_at) %> ago.</p>
    </div>
</li>
<hr>