<% if logged_in? %>

  <div class="row">
    <div class="col-md-3 ">
     
      <div class="card" >
        <img src=<%= @user.avator %> class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <%= @user.name %> </h5>
          <p class="card-text"> <%= @user.email %> </p>
          <a href="#" class="btn btn-primary">Update</a>
        </div>
      </div>

      <hr>

      <%= render 'events/event_form' %>
    </div>
    
    <div class="col-md-5">
      <h5 class="text-info"> Upcoming Events </h5>
      <%= render @created_events.upcoming_events %>
      <hr>
      <h5 class="text-info"> Past Events </h5>
      <%= render @created_events.past_events %>
     
    </div>

    <div class="col-md-4">
      <h5 class="text-info"> Attending Events</h5>
        <%= render @attended_events %>
    </div>
</div>

<% else %>
  <h2> Please sign in. <h2>
  <%= link_to "Sign in", login_path %>
<% end %>
