<div class="row">
  <div class="col-md-3 ">
    <div class="card" >
      <img src=<%= current_user.avatar %> class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> <%= current_user.name %> </h5>
        <p class="card-text"> <%= current_user.email %> </p>
        <a href="#" class="btn btn-primary">Update</a>
      </div>
    </div>
    <hr>
    <%= render 'events/event_form' %>
  </div>
  
  <div class="col-md-5">
    <h5 class="text-info"> Upcoming Events </h5>
    <%= render @attended_events.upcoming %>
  </div>

  <div class="col-md-4">
    <h5 class="text-info"> Past Events </h5>
      <%= render @attended_events.past %>
  </div>
</div>

