<div>
  <h5 class="post-title"><%= link_to event.title, event %></h5>
  <div class="post-text"> 
    <strong> Organizer: </strong> 
    <%= event.creator.name.capitalize %> 
  </div>

  <%# <div class="post-text font-italic ">
    <strong>Description: </strong>
    <%= event.description %>
  <%# </div> %> 

  <div class="post-text my-2">
    <%= fa_icon "calendar", class: "mr-2" %> 
    <%= event.event_date %>
  </div>

  <div class="post-text my-2">
    <%= fa_icon "location-arrow", class: "mr-2" %>
    <%= event.location %>
  </div>

</div>
  
<hr>