<div>
  <h5 class="post-title"><%= link_to event.title, event %></h5>
  <div class="post-text"> 
    <strong> Organizer: </strong> 
    <%= event.creator.name.capitalize %> 
  </div>

  <div class="post-text font-italic ">
    <strong>Description: </strong>
    <%= event.description %>
  </div>

  <% if params[:action] == 'show' %>
    <div class="post-text ">
      <strong>Location: </strong> <%= event.location %>
    </div>

    <div class="post-text">
      <strong>Event Date: </strong> <%= event.event_date %>
    </div>

    <div class="post-text">
      <strong> Attendees: </strong>
        <% event.attendees.each do |x| %>
          <span><%= x.name.capitalize %></span> 
        <% end %>
    </div>
  <% end %>

</div>
  
<hr>